.comment { fill: #8b949e; }
.constant { fill: #79c0ff; }
.entity { fill: #d2a8ff; }
.storage-modifier-import { fill: #c9d1d9; }
.entity-tag { fill: #7ee787; }
.keyword { fill: #ff7b72; }
.string { fill: #a5d6ff; }
.variable { fill: #ffa657; }
.brackethighlighter-unmatched { fill: #f85149; }
.invalid-illegal-text { fill: #f0f6fc; }
.invalid-illegal-bg { fill: #8e1519; }
.carriage-return-text { fill: #f0f6fc; }
.carriage-return-bg { fill: #b62324; }
.string-regexp { fill: #7ee787; }
.markup-list { fill: #f2cc60; }
.markup-heading { fill: #1f6feb; }
.markup-italic { fill: #c9d1d9; }
.markup-bold { fill: #c9d1d9; }
.markup-deleted-text { fill: #ffdcd7; }
.markup-deleted-bg { fill: #67060c; }
.markup-inserted-text { fill: #aff5b4; }
.markup-inserted-bg { fill: #033a16; }
.markup-changed-text { fill: #ffdfb6; }
.markup-changed-bg { fill: #5a1e02; }
.markup-ignored-text { fill: #c9d1d9; }
.markup-ignored-bg { fill: #1158c7; }
.meta-diff-range { fill: #d2a8ff; }
.brackethighlighter-angle { fill: #8b949e; }
.sublimelinter-gutter-mark { fill: #484f58; }
.constant-other-reference-link { fill: #a5d6ff; }
